.form{
    display: flex;
    align-items: center;
  }
  .form-content{
    margin-top: 0rem;
    margin: 10rem;
    width: 80rem;
    height: 580px;
    color: #ffffff;
    background-color: rgba(14, 13, 13, 0.815);
    box-shadow: 5px 10px 30px rgba(15, 15, 15, 0.918);
    position: absolute;
    text-align: center;
  }