.postblock{
   
    margin: 7.5rem;
   height: 15rem;
   overflow: hidden;
   border-radius: .2rem;
   box-shadow:rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px, rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  

}

.employer{
    float: right;
    width: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.postblock:hover{
    -moz-box-shadow: 3px 2px 24px -4px rgba(0,0,0,0.75);
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px,  rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  
}
.text{
    color: cadetblue;
    margin-left: 1rem;
}
.title{
    margin-left: 2rem;
}

.btn-job {
    position:absolute;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: cadetblue;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    z-index: 0;
  }
  

  
  .btn-job:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }

  
  .btn-job:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .btn-job::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  